<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('lesson.css')%>">
  <link rel="icon" type="image/png" href="/favicon2.png">
</head>
<% @id = session[:account_id] %>
<% @account_theme = Account.find(@id).theme_light %>
<% if @account_theme %>
  <link rel="stylesheet" type="text/css" href="/color-scheme-light.css">
<% else %>
  <link rel="stylesheet" type="text/css" href="/color-scheme-dark.css">
<% end %>
<body>
  <header class="container">
    <a href='/home'>
      <h1 class="logo">
        <img src="/favicon2.png" alt="Logo">
        <span>codeQuest</span>
      </h1>
    </a>
    <nav class="nav-links">
      <ul>
        <li><a href="/home" class="nav-link">Inicio</a></li>
        <li><a href="/profile" class="nav-link">Perfil</a></li>
        <li><a href="/snippets" class="nav-link">Snippets</a></li>
        <li><a href="/resources" class="nav-link">Recursos</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="text-container">
      <!-- <h1><%= @lesson.title %></h1> -->
      <%= @lesson_html_body %>
    </div>

    <div class="continue-button-container">
      <a href="<%= @lesson.getNextLesson %>"><button type="button" class="continue-button" onclick="updateProgress()"><%=@current_is_last ? "Hacer el Test" : "Siguiente"%></button></a>
    </div>
  </main>

</body>
</html>