<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('snippets.css')%>">
  <link rel="icon" type="image/png" href="/favicon2.png">
</head>
<% @id = session[:account_id] %>
<% @account_theme = Account.find(@id).theme_light %>
<% if @account_theme %>
  <style>@import url('color-scheme-light.css');</style>
<% else %>
  <style>@import url('color-scheme-dark.css');</style>
<% end %>
<body>
  <header class="container">
   <a href='/home'>
      <h1 class="logo">
        <img src="favicon2.png" alt="Logo">
        <span>codeQuest</span>
      </h1>
    </a>
    <nav class="nav-links">
      <ul>
        <li><a href="/home" class="nav-link">Inicio</a></li>
        <li><a href="/profile" class="nav-link">Perfil</a></li>
        <li><a href="/snippets" class="current-page">Snippets</a></li>
        <li><a href="/resources" class="nav-link">Recursos</a></li>
        <li><form action="/logout" method="post"><button type="submit" class="nav-link no-style-button">Salir</button></form></li>
      </ul>
    </nav>
  </header>

  <main>
    <form action="/snippets" method="post">
      <div class="snippet-section">
        <h2 class="section-title">Crear snippet</h2>
        <div class="section-line"></div>
        <div id="inputContainer">
          <div class="title-field">
            <input type="text" name="snippet_description" placeholder="Descripción del snippet" />
          </div>
          <div class="input-field">
            <textarea class="text-area" id="textInput" name="snippet_code" placeholder="Ingresa tu snippet"></textarea>
          </div>
          <div class="save-button-container">
            <button class="save-button" type="submit">Guardar</button>
          </div>
        </div>
      </div>
    </form>
    <div class="snippet-section">
      <h2 class="snippet-list-title">Tus snippets</h2>
      <div class="section-line">
      <% @snippets.each do |snippet| %>
        <div class="button-stack">
          <div class="snippet-button" onclick="toggleDropdown('<%= snippet.id %>')">
            <span class="snippet-title"><%= snippet.description %></span>
          </div>
            <div id="dropdown-<%= snippet.id %>" class="dropdown" style="display: none">
            <div class="dropdown-content">
              <div class="snippet-code-box">
                <p><%= snippet.code %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </main>
  <script>
    function toggleDropdown(snippetId) {
      var dropdown = document.getElementById('dropdown-' + snippetId);

      if (dropdown.style.display === 'none') {
        dropdown.style.display = 'block';  
      } else {    
        dropdown.style.display = 'none';    
      }
    };
  </script>
</body>
</html>
